/* Font İmport */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .navbar-nav {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}
body::before {
  display: block;
  content: "";
  height: 60px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 15px 0;
}

.navbar-brand img {
  height: 60px;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}

.navbar-toggler {
  order: 2;
}

.navbar-collapse {
  order: 1;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #f3722c;
}

.navbar-nav .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f3722c;
  transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Carousel and Image Styles */
#carouselExampleIndicators img {
  max-height: 100%;
  width: auto;
  margin: 41px 0 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Card Styles */
.custom-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-size: cover;
  background-color: #f8f9fa;
}

.custom-cards {
  display: flex;
  gap: 10px;
}

.custom-card {
  animation: fadeIn 0.5s ease-in-out;
  flex: 0 0 auto;
  padding: 10px;
  border-radius: 45px;
  border: 2px solid #f17300; /* Turuncu kenar çizgisi */
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out;
  text-align: center;
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.custom-card .icon-container {
  margin-bottom: 5px;
  font-size: 9px;
  color: #f17300; /* Turuncu renk */
}

.custom-card .icon-container i {
  color: #f17300; /* Turuncu renk */
}

.custom-card p,
.custom-card h1,
.custom-card .counter,
.custom-card .box-title {
  font-size: 26px;
  font-weight: bold;
  color: #f17300; /* Turuncu renk */
}

.custom-card:nth-child(1) {
  background-color: #fff;
}

.custom-card:nth-child(2) {
  background-color: #fff;
}

.custom-card:nth-child(3) {
  background-color: #fff;
}

.custom-card:not(:last-child) {
  margin-right: 30px;
}

@keyframes countUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.custom-card:hover .counter {
  animation: countUp 2s ease;
}

/* Learn Section */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

#sürec {
  padding: 50px 0;
  display: flex;
  align-items: center;
  text-align: center;
}

#sürec img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#sürec h2 {
  font-size: 2.2em; /* Daha büyük font boyutu */
  font-weight: bold;
  color: #db4437;
  margin-bottom: 15px; /* Boşluk ekledim */
}

#sürec p {
  font-size: 1.1em; /* Daha büyük font boyutu */
  line-height: 1.6;
  color: #555;
  max-width: 600px;
  margin: 20px auto 20px; /* Boşluk ekledim */
}

#sürec .btn {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
  font-size: 0.8em;
  display: inline-block;
  margin-top: 10px;
}

#sürec .btn:hover {
  background-color: #dc3545;
  color: #fff;
}

/* Responsive Text */
@media (max-width: 768px) {
  #sürec {
    flex-direction: column;
  }

  #sürec img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #sürec h2 {
    font-size: 1.5em;
  }

  #sürec p {
    font-size: 1em;
  }
}

/* Studio Slider Stilleri */
#portfolyo {
  text-align: center;
  color: #f17300;
}

.studio-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.studio-slider .owl-carousel {
  width: 100%;
}

.studio-slider .owl-carousel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  text-align: center;
  width: 100%;
}

.studio-slider button.owl-carousel {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 50%;
  background-color: #262626;
}

.studio-slider button.owl-carousel.active {
  background-color: #f17300;
}

.move-animation {
  position: relative;
  animation: move-animation 2s ease-in-out infinite;
}

#portfolyo {
  padding: 58px 0;
  margin-bottom: 50px;
  z-index: 1;
}

.sec-heading {
  margin-bottom: 80px;
  text-align: center;
}

.sec-heading h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #f17300; /* Turuncu renk */
}

.single-box {
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  border: 3px solid #f17300;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.single-box:hover {
  border-color: #f3722c;
}

.single-box h4 {
  font-size: 24px;
  font-weight: bold;
}

.img-area {
  overflow: hidden;
  padding: 15px 0 15px;
  flex: 1;
  position: relative;
}

.img-area img {
  margin: 0 auto;
  transition: all 0.5s ease;
  max-width: 100%; /* Full-width image */
  height: auto;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease;
  z-index: 999;
}

.info-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease;
}

.single-box:hover .overlay,
.single-box:hover .info-area {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.info-area a {
  display: inline-block;
  margin: 25px 0 0;
  background-color: #f17300;
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
}

.studio-slider .img-area,
.studio-slider .info-area {
  text-align: center;
}

.studio-slider .info-area {
  padding: 20px;
}

.studio-slider .single-box {
  margin-bottom: 20px;
}

.studio-slider .img-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studio-slider .img-area img {
  margin: 0 auto;
  transition: all 0.5s ease;
  max-width: 50%;
  max-height: 100px;
  animation: none;
}

.studio-slider .sec-heading {
  margin-bottom: 50px;
  text-align: center;
}

.studio-slider .sec-heading h6 {
  font-size: 36px;
  color: #f17300;
}

.studio-slider .info-area h4,
.studio-slider .info-area p,
.studio-slider .info-area a {
  margin-bottom: 10px;
}

.hidden-text {
  display: none;
}

@keyframes move-animation {
  0% {
    top: 3px;
  }

  50% {
    top: -3px;
  }

  100% {
    top: 3px;
  }
}

.testmonial-box .single-box.enlarged .overlay {
  opacity: 1;
}

.testmonial-box .single-box.enlarged .info-area {
  opacity: 1;
}

.testmonial-box .single-box.enlarged img {
  transform: scale(1.2);
}
/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: transparent; /* Set background to transparent */
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Added box-shadow transition */
}

.card:hover {
  background-color: transparent;
  transform: translateY(-6px);
  border-color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow on hover */
}

.card i {
  color: #f17300; /* Changed icon color to orange */
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff; /* Set icon background color to white */
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}

/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: transparent; /* Set background to transparent */
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Added box-shadow transition */
}

.card:hover {
  background-color: transparent;
  transform: translateY(-6px);
  border-color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow on hover */
}

.card i {
  color: #f17300; /* Changed icon color to orange */
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff; /* Set icon background color to white */
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}

/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: transparent; /* Set background to transparent */
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for background and transform */
}

.card i {
  color: #f17300; /* Changed icon color to orange */
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff; /* Set icon background color to white */
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}

/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: transparent;
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card i {
  color: #f17300;
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}

/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: transparent;
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card i {
  color: #f17300;
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}
/* Support Cards */
.server-wrapper {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.services {
  text-align: center;
  margin-bottom: 40px;
}

.services h3 {
  font-size: 32px;
  font-weight: bold;
  color: #fe7f2d;
}

.services-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  flex: 0 0 calc(33.3333% - 20px); /* Each card takes up 33.3333% of the container width */
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow */
}

.card i {
  color: #4285f4;
  margin-bottom: 10px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #f8f9fa;
  padding: 10px;
}

.card h2 {
  color: #4285f4;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.card p {
  text-align: center;
  width: 100%;
  color: #f26419;
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-card i {
  font-size: 3rem;
  margin-bottom: 15px;
  background-color: transparent;
  padding: 10px;
  color: #f8f9fa;
}

.card:hover {
  background-color: #f8f9fa;
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 30px;
}

.sectionWithOrangeBackground {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  z-index: 999;
  transform: translateY(50%);
}

body.show-footer footer {
  transform: translateY(0);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: none;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.socialIcons a {
  color: #f17300;
  font-size: 25px;
  margin: 0 15px;
  text-decoration: none;
  display: flex;
}

.socialIcons a i {
  font-size: 1.3em;
  color: #f17300;
  opacity: 0.9;
  margin: auto;
}

.footerBottom p {
  color: #f17300;
  opacity: 0.7;
  letter-spacing: 0.25px;
  margin-top: 15px;
}

.footerBottom {
  width: 100%;
  margin-bottom: 10px;
}
