/* Font İmport */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  display: block;
  content: "";
  height: 60px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 15px 0;
}

.navbar-brand img {
  height: 60px;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}

.navbar-toggler {
  order: 2;
}

.navbar-collapse {
  order: 1;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #f3722c;
}

.navbar-nav .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f3722c;
  transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Carousel and Image Styles */
#carouselExampleIndicators img {
  max-height: 100%;
  width: auto;
  margin: 41px 0 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Card Styles */
.custom-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-size: cover;
  background-color: #f8f9fa;
}

.custom-cards {
  display: flex;
  gap: 10px;
}

.custom-card {
  animation: fadeIn 0.5s ease-in-out;
  flex: 0 0 auto;
  padding: 10px;
  border-radius: 80px 20px 20px 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    width 0.3s ease-in-out, height 0.3s ease-in-out; /* Added height transition */
  text-align: center;
  width: 300px; /* Adjust the initial width to your desired size */
  height: 180px; /* Adjust the initial height to your desired size */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.custom-card .icon-container {
  margin-bottom: 5px;
  font-size: 9px;
}

.custom-card p,
.custom-card h1 {
  font-size: 26px; 
  font-weight: bold;
  color: #ffffff;
  align-items: center;
}

.custom-card:nth-child(1) {
  background-color: #4285f4;
}

.custom-card:nth-child(2) {
  background-color: #0f9d58;
}

.custom-card:nth-child(3) {
  background-color: #db4437;
}

.counter {
  font-size: 32px;
  font-weight: bold;
  align-items: center;
}

.box-title {
  font-size: 20px;
  font-weight: bold;
}

.custom-card:not(:last-child) {
  margin-right: 30px;
}

.custom-card {
  border-radius: 45px;
}

@keyframes countUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.custom-card:hover .counter {
  animation: countUp 2s ease;
}

/* Learn Section */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

#Programsüreci {
  padding: 50px 0;
  display: flex;
  align-items: center;
  text-align: center;
}

#Programsüreci img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#Programsüreci h2 {
  font-size: 2em;
  font-weight: bold;
  color: #db4437;
  margin-bottom: 10px;
}

#Programsüreci p {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  max-width: 600px;
  margin: 0 auto 20px;
}

#Programsüreci .btn {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
  font-size: 0.8em;
  display: inline-block;
  margin-top: 10px;
}

#Programsüreci .btn:hover {
  background-color: #dc3545;
  color: #fff;
}

/* Responsive Text */
@media (max-width: 768px) {
  #Programsüreci {
    flex-direction: column;
  }

  #Programsüreci img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #Programsüreci h2 {
    font-size: 1.5em;
  }
}

/* Studio Slider Stilleri */
.studio-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.studio-slider .owl-carousel {
  width: 100%;
}

.studio-slider .owl-carousel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  text-align: center;
  width: 100%;
}

.studio-slider button.owl-carousel {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 50%;
  background-color: #262626;
}

.studio-slider button.owl-carousel.active {
  background-color: #f17300;
}

.move-animation {
  position: relative;
  animation: move-animation 2s ease-in-out infinite;
}

#portfolyo {
  padding: 58px 0;
  margin-bottom: 50px;
}

.sec-heading {
  margin-bottom: 70px;
  color: #dc3545;
  text-align: center;
}

.sec-heading h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.single-box {
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 3px solid #f17300;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.single-box h4 {
  font-size: 24px;
  font-weight: bold;
}

.img-area {
  overflow: hidden;
  padding: 15px 0 15px;
  flex: 1;
}

.img-area img {
  margin: 0 auto;
  transition: all 0.5s ease;
  max-width: 50%; /* Ensure the image doesn't exceed the container */
  max-height: 100px;
}

.info-area {
  padding: 20px;
}

.info-area a {
  display: inline-block;
  margin: 25px 0 0;
  background-color: #f17300;
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
}

.studio-slider .img-area,
.studio-slider .info-area {
  text-align: center;
}

.studio-slider .info-area {
  padding: 20px;
}

.studio-slider .single-box {
  margin-bottom: 20px;
}

.studio-slider .img-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studio-slider .img-area img {
  margin: 0 auto;
  transition: all 0.5s ease;
  max-width: 50%; 
  max-height: 100px;
  animation: none; 
}

.studio-slider .sec-heading {
  margin-bottom: 50px;
  text-align: center;
}

.studio-slider .sec-heading h6 {
  font-size: 36px;
}

.studio-slider .info-area h4,
.studio-slider .info-area p,
.studio-slider .info-area a {
  margin-bottom: 10px;
}

.hidden-text {
  display: none;
}

@keyframes move-animation {
  0% {
    top: 3px;
  }

  50% {
    top: -3px;
  }

  100% {
    top: 3px;
  }
}

/* Support Section */
.server-wrapper {
  padding: 30px;
}

.services {
  text-align: center;
}

.services h6 {
  color: #f17300;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 65px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: 30px;
  height: 350px;
  margin-bottom: 40px;
  padding: 30px;
  background-color: #ffffff;
  border: 4px solid #f17300;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: transparent;
  transform: translateY(-6px);
  border-color: #262626;
}

.card i {
  color: #7a00df;
  margin-bottom: 15px;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #f17300;
  padding: 10px;
}

.card h2 {
  color: #db4437;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  width: 100%;
  color: ff6d00;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3;
}

/* Support Cards */
.server-wrapper {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.services {
  text-align: center;
  margin-bottom: 40px;
}

.services h3 {
  font-size: 32px;
  font-weight: bold;
  color: #fe7f2d;
}

.services-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  flex: 0 0 calc(33.3333% - 20px);
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border: 1px solid #4285f4;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #86bbd8;
}

.card i {
  color: #4285f4;
  margin-bottom: 10px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.card h2 {
  color: #4285f4;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.card p {
  text-align: center;
  width: 108.5%;
  color: #f26419;
  flex-grow: 1.5;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  background-color: white;
  border-color: #f17300;
}

.card:hover h2,
.card:hover p {
  color: #f17300;
}

.custom-card i {
  font-size: 3rem;
  margin-bottom: 15px;
  background-color: transparent;
  padding: 10px;
  color: #fff;
}


